#upper {
    display: flex;
    background-color: blueviolet;
    height: calc(100vh - 100px);
}



footer {
    background-color: #282828;
    height: 100px;
    padding: 15px;
    width: 100%;
    position: fixed;
}




#side {
    display: flex;
    flex-direction: column;
   justify-content: space-between;
    background-color: #000000;
    width: 200px;
    height: 100%;
    padding: 20px 20px 0 20px;
    /* overflow: auto; */
}


main {
    background-color: #141922;
    width: calc(100% - 200px);
    height: 100%;
    color: white;
}


a {
    color: #a3a3a3;
    text-decoration: none;
}



/* stile nav */

#logo {
    width: 150px;
}

#logo-small {
    display: none;
}

li > img {
    width: 25px;
    margin-bottom: 15px;
    vertical-align: middle;
}

li {
    list-style: none;
    color: #a3a3a3;
}



li > h4 {
    margin: 15px 0;
    color: white;
}

.fa-plus {
    color: black;
    background-color: #a3a3a3;
    font-size: 20px;
    padding: 5px;
}

#playlist-overflow {

    overflow: auto;
}

.playlist-name {
    font-size: 12px;
    line-height: 30px;

   
}


#profile {
    width: 25px;
    height: 25px;
    
    background-color: #a3a3a3;
    border-radius: 50%;
    object-fit: cover;
}


#install > li {
    /* border-bottom: 1px solid white; */
    margin-bottom: 5px;
}


li:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
}

@media screen and (max-width: 480px) {
  
     li > span {
        display: none;
    }

    #logo {
        display: none;
    }

    #logo-small {
        display: block;
    }

    #side {
        width: 60px;
        padding: 15px;
    }

    main {
        width: calc(100% - 60px);
    }

    #playlist-overflow {
        display: none;
    }
}  



/* stile contenuto principale */

#upgrade {
    /* background-color: rgba(8, 11, 18, 0.5); */
    background-color: rgba(8, 11, 18, 0.5);
    /* background-color: #080b12; */
    height: 100px;
    text-align: end;
    /* opacity: 0.5; */
  
}

#upgrade > button:hover {
    color: white;
    cursor: pointer;
    transform: scale(0.9);
}

#upgrade > button {
    width: 150px;
    margin: 30px 5px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: #080b12;
    color: white;
    
}

.overflow {
    padding: 30px;
    overflow: auto;
    height: calc(100vh - 200px);
}


.space {
    gap: 10px;
}

a:hover {
    color: white;
}

.album > img {
    max-width: 100%;
}


.col-lg-2 > img {
    max-width: 100%;
}

.overflow > span, .col-lg-2 > h5 {
    color: #a3a3a3;
    margin-top: 10px;
    font-size: 12px;
}


.overflow > h2 {
    margin-top: 40px;
    margin-bottom: 10px;
}

.circle {
    border-radius: 50%;
    object-fit: cover;
}



.col-lg-2 {
    padding: 0 10px;
}

.row {
    margin: 10px -10px;
}







/* stile footer */


#sinister {
    width: 70px;
    margin-right: 10px;
}

.flex-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-play {
    display: flex;
    align-items: center;
}

.hover-play:hover {
    color: white;
}

.fa-heart, .fa-folder {
    margin-left: 10px;
}

#icon {
    margin-left: 20px;
    color: #6e6e6e;
}

.color-gray {
    color: #6e6e6e;
}

/* .volume {
    
    display: inline;
    width: 100px;
    height: 3px;
    margin: 0 10px;
    background-color: #a3a3a3;
    border: #a3a3a3; 
} */

.icon-margin {
    margin: 0 15px;
}

.center-icon {
    text-align: center;
}

.fa-circle-play {
    font-size: 24px;
}

.fa-circle-play:hover {
    transform: scale(1.1);
}

.volume {
    background-color: #c1c1c1;
    border: none;
   
    margin-left: 5px;
    height: 4px;
   
    width: 100px;
}

.volume:hover {
    background-color: greenyellow;
}

.volume-scuro {
    background-color: #5a5a5a;
    
    margin-right: 5px;
        border: none;
        height: 4px;
        width: 180px; 
}


.volume2 {
    background-color: #c1c1c1;
    border: none;
   
    margin-left: 5px;
    height: 4px;
   
    width: 20px;
}

.volume2:hover {
    background-color: greenyellow;
}

.volume-scuro2 {
    background-color: #5a5a5a;
    
    margin-right: 5px;
        border: none;
        height: 4px;
        width: 80px; 
}


.margin {
    margin-top: 10px;
   
}

.color {
    color: #ffffff;
}






/* debug  */

.row {
    /* background-color: lime; */
    /* height: 100px;
    width: 300px; */

    /* padding: 10px; */
    
}

.col-lg-2 {
    /* background-color: rgb(247, 0, 255);
    border: 2px rebeccapurple solid; */
    /* height: 50px;
    width: 50px; */
    text-align: center;
}