#upper {
    display: flex;
    background-color: blueviolet;
    height: calc(100vh - 100px);
}



footer {
    background-color: orange;
    height: 100px;
}




#side {
    display: flex;
    flex-direction: column;
   justify-content: space-between;
    background-color: #000000;
    width: 200px;
    height: 100%;
    padding: 20px 20px 0 20px;
    /* overflow: auto; */
}


main {
    background-color: #141922;
    width: calc(100% - 200px);
    height: 100%;


    color: white;
}


a {
    color: #a3a3a3;
    text-decoration: none;
}



/* stile nav */

#logo {
    width: 150px;
}

#logo-small {
    display: none;
}

li > img {
    width: 25px;
    margin-bottom: 15px;
    vertical-align: middle;
}

li {
    list-style: none;
    color: #a3a3a3;
    /* line-height: 15px; */
    /* margin-left: 20px; */
    /* vertical-align: middle; */
}



li > h4 {
    margin: 15px 0;
    color: white;
}

.fa-plus {
    color: black;
    background-color: #a3a3a3;
    font-size: 20px;
    padding: 5px;
}

#playlist-overflow {

    overflow: auto;
}

.playlist-name {
    font-size: 12px;
    line-height: 30px;

   
}


#profile {
    width: 25px;
    height: 25px;
    
    background-color: #a3a3a3;
    border-radius: 50%;
    object-fit: cover;
}


#install > li {
    /* border-bottom: 1px solid white; */
    margin-bottom: 5px;
}

@media screen and (max-width: 480px) {
  
     li > span {
        display: none;
    }

    #logo {
        display: none;
    }

    #logo-small {
        display: block;
    }

    #side {
        width: 60px;
        padding: 15px;
    }

    main {
        width: calc(100% - 60px);
    }

    #playlist-overflow {
        display: none;
    }
}  



/* stile contenuto principale */

#upgrade {
    background-color: #080b12;
    height: 100px;
    text-align: end;
    opacity: 0.8;
  
}

#upgrade > button {
    margin: 30px 5px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: #080b12;
    color: white;
    
}

.overflow {
    padding: 30px;
    overflow: auto;
    height: calc(100vh - 200px);
}


.space {
    gap: 10px;

}


.col-lg-2 > img {
    max-width: 100%;
}

.overflow > h2 {
    margin-top: 40px;
}

.circle {
    border-radius: 50%;
    object-fit: cover;
}



.col-lg-2 {
    padding: 0 10px;
}

.row {
    margin: 10px -10px;
}










/* debug  */

.row {
    /* background-color: lime; */
    /* height: 100px;
    width: 300px; */

    /* padding: 10px; */
    
}

.col-lg-2 {
    /* background-color: rgb(247, 0, 255);
    border: 2px rebeccapurple solid; */
    /* height: 50px;
    width: 50px; */
    text-align: center;
}